[run]
branch = True
source = src/
omit =
    */__init__.py
    */tests/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug:
    if __name__ == .__main__.:
    raise NotImplementedError
    ^\s*pass\s*$
    ^\s*\.\.\.\s*$

ignore_errors = True
show_missing = True
skip_empty = True
